<!DOCTYPE HTML>
<html lang="en-US" >
<head>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <title>Silex Starter</title>
    {% block head_css %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body ng-app="myApp">
    {% block header %}
    {% endblock %}
    {% block bottom_scripts %}
    {% endblock %}
</body>
</html>